.parent {
    border: 2px solid red;
    margin: 0 auto;
    margin-bottom: 50px;
}
.child {
    background-color: green;
    text-align: center;
    margin: 2px;
    color: white;
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child {
    width: 300px;
}

.parent1 {
    justify-content: flex-start;
}

.parent2 {
    justify-content: space-between;
}

.parent3 {
    justify-content: space-around;
}

.parent4 {
    justify-content: space-evenly;
}